/*  COLOR SCHEME
#082C44 - nvy
#71EAF5 - lblu
#FEE6E2 - lpnk
#FFA94C - gld
#FD2C88 - drkpnk
*/

/*====================================================================*/
/*======================== START NAV FONT-ICONS ======================*/ 

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-48 { font-size: 36px; } 

/*======================== END NAV FONT-ICONS ========================*/ 
/*====================================================================*/ 



/*========================== LOGO HEADER =============================*/
header {
  display: inline-grid;
  grid-template-columns: 100px auto 100px;
  top: 0px;
  width: 100%;
  background-color: #082C44;
  overflow: hidden; 
  position: fixed;
  padding: 0px;
  height: 96px;
  line-height: 12px;
  color: #FFFFFF;
}

#logo {
  padding-top: 15px;
}

#cancel {
  display: none;
}

#logout {
  display: block;
}
/*====================================================================*/
/*======================= START NAV BAR ==============================*/ 
.navbar {
  display: flex;
  position: fixed;
  padding-top: 10px;
  padding-left: 0px;
  align-content: center;
  height: 56px;
  width: 100%;
  line-height: 96px;
  background: #0b2b43;
  box-shadow: 0px 2px #71EAF580;
}

.navbar li{ 
  list-style: none;
  flex: 1;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  line-height: 100%;
  text-decoration-style: none;
  color: #FFA94C;
  width: fit-content;
  text-align: center;
  
}

.navbar li a {
  color: #FEE6E2;
  transition: color 0.3s ease;
  display: block;
}

.navbar li:hover a{ 
  color: #FFA94C;
}

.navbar li a.active {
  color: #FFA94C;
  border-bottom: 5px solid #FFA94C;
  border-width: auto;
  height: 46px;

}
/*============================= END NAV BAR ==========================*/ 
/*====================================================================*/ 


* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-top: 66px;
}

body { 
    padding-top: 96px;
}

h1 {
  text-align: center;
  padding-top: 35px;
}

.card {
  transition: 0.4s;
  box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin: 10px;
  background-color: #FFA94C;
  padding: 10px;
}

.card a:link {
  color: #FFFFFF;
  font-weight: bold;
}

.container {
  padding: 10px;
  display: inline;
}


.menu {
  /* background-color: #FD2C88; */
  overflow: hidden;
  position: relative;
  width: 100;
  padding: 6px;
}


.menu a {
  display: block;
  float: right;
  position: relative;
  overflow: visible;
  color: #FEE6E2;
  text-decoration: none;
}

#myAccount {
  display: none;
  float: left;
  padding-top: 8px;;
}

input {
  padding-left: 5px;
  border-radius: 4px;
  border-color: #71EAF580;

  border-bottom: #082C44;
  background-color: #ffcf9b;
  color: #082C44;
  font-weight: bold;
  padding: 6px;
}

/* NEW */
#select-id {
  padding: 6px;
  box-shadow: 0 10px 25px #000000;
  color: #ffffff;
  border-radius: 4px;
  
  border-color: #71EAF580;

  border-bottom: #082C44;
  background-color: #ffcf9b;
  font-weight: bold;
}


label { 
  font-size: 14px;
  padding-left: 5px;
}

.privacy {
  padding: 6px;
  margin: 15px;
  overflow: auto;
}

.button {
  background-color: #082C44;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: white;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

/* APPLY ONCE DESKTOP IS ADDED */

#desktop {
  display: inline;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 360px) {

  #desktop {
    display: none;
  }

  #mobile {
    display: inline;
  }
}